<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="../src/styles.css">

</head>

<body>
    <%- include('./templates/nav'); %>
    <h1 class="display-3">Dashboard</h1>
    <ul class="list-unstyled">
      <% 
      member.guilds.forEach(guild => { 
        const permsOnGuild = new perms(guild.permissions);
        if(!permsOnGuild.has("MANAGE_GUILD")) return;
        if(data.guilds.get(guild.id)) { 
      %>
    
      <li class="media" style="padding: 10px;">
        <% if (guild.icon) { %>
          <img class="d-flex mr-3 rounded-circle" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` %>" style="width: 80px;" alt="">
        <% } else { %>
          <canvas style="background-color: #7289da" class="d-flex mr-3 rounded-circle" id="<%= guild.name.split(' ').join('').replace(`'`, ``) %>" width="80px" height="80px"></canvas>
          <script>
            function draw() {
              const ctx = document.getElementById("<%= guild.name.split(' ').join('').replace(`'`, ``) %>").getContext('2d');
              ctx.font = '30px Arial';
              ctx.textAlign = "center";
              ctx.fillStyle = "white";
              ctx.fillText("<%= guild.name.split(' ').map(v => v[0]).join('') %>", 40, 50);
            };
            draw();
          </script>
        <% } %>
        <div class="media-body">
            <h5 class="mt-0 mb-1"><%= guild.name %></h5>
            <% 
            let href, text;
            let enabled;    
              href = `/dashboard/${guild.id}/guild-card`;
              text = "card";
              enabled = true;
            %> 
            <a class="btn btn-primary btn-lg<% if(!enabled) { %> disabled<% } %>" role="button" href="<%= href %>"><%= text %> <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a>
          </div>
        </li>
      <% }}); %>
      </ul>
    

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../scripts/dashboard.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>